<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button (click)="showEditBtn()" *ngIf="!showBtn">{{'edit' | translate}}</ion-button>
    <ion-button (click)="hideEditBtn()" *ngIf="showBtn">{{'complete' | translate}}</ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content no-bounce>
  <sg-application-grid [items]="items" type="add" [showBtn]="showBtn" (onSelect)="moveItemToAppPage($event)"
    (onClick)="goToDetailPage($event)"></sg-application-grid>
</ion-content>