body,
html {
  color: rgba(0, 0, 0, .65);
}

ion-card {
  background: #fff;

  .search-form {
    margin: 2rem 1rem;
  }
}

nz-form-label {
  font-size: 1rem;
}

::ng-deep .ant-calendar-picker {
  max-width: 155px !important;
}

.time-item {
  height: 32px;
  border-bottom: 1px solid #d9d9d9;
}

.time-data {
  display: inline-block;
  text-align: center;
  width: 45%;
}

.time-symbol {
  display: inline-block;
  text-align: center;
  width: 10%;
}

.am-calendar {
  color:#333;
}

.btn-box {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.little-btn {
  width: 45%;

  ion-button {
    height: 2rem ;
  }
}