<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/application"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'Visitor.module.tab_search' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="primary">
  <ion-card>
    <div class="search-form">
      <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="orderNo">{{'Visitor.application.orderNo' | translate}}</nz-form-label>
        <nz-form-control [nzSpan]="8">
          <input nz-input [(ngModel)]="orderNo" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="role === 'VISIT_ADMIN'">
        <nz-form-label [nzSpan]="4" nzFor="applicant">{{'Visitor.search.applicant' | translate}}</nz-form-label>
        <nz-form-control [nzSpan]="8">
          <app-colleague-searcher [(ngModel)]="applicant"></app-colleague-searcher>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="4">申请时间</nz-form-label>
        <nz-form-control [nzSpan]="8">
          <div class="time-item" (click)="chooseCreateTime()">
            <span *ngIf="!this.createTime.show">
              <div class="time-data">{{ this.createTime.startdate }}</div>
              <div class="time-symbol">&nbsp;&nbsp;~&nbsp;&nbsp;</div>
              <div class="time-data">{{ this.createTime.enddate }}</div>
            </span>
          </div>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="4">到访时间</nz-form-label>
        <nz-form-control [nzSpan]="8">
          <div class="time-item" (click)="chooseApplyTime()">
            <span *ngIf="!this.applyTime.show">
              <div class="time-data">{{ this.applyTime.startdate }}</div>
              <div class="time-symbol">&nbsp;&nbsp;~&nbsp;&nbsp;</div>
              <div class="time-data">{{ this.applyTime.enddate }}</div>
            </span>
          </div>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="4">{{'Visitor.search.orderStatus' | translate}}</nz-form-label>
        <nz-form-control [nzSpan]="20">
          <nz-select [style.width]="'100%'" [(ngModel)]="type" nzAllowClear nzPlaceHolder="-请选择-">
            <nz-option nzValue="NEW" [nzLabel]="'Visitor.module.statu_new' | translate"></nz-option>
            <nz-option nzValue="WAITING" [nzLabel]="'Visitor.module.statu_waiting' | translate"></nz-option>
            <nz-option nzValue="REJECTED" [nzLabel]="'Visitor.module.statu_reject' | translate"></nz-option>
            <nz-option nzValue="APPROVED" [nzLabel]="'Visitor.module.statu_approve' | translate"></nz-option>
            <nz-option nzValue="CANCELED" [nzLabel]="'Visitor.module.statu_cancel' | translate"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="btn-box">
        <div class="little-btn">
          <ion-button expand="block" (click)="Reset()">{{'reset' | translate}}</ion-button>
        </div>
        <div class="little-btn">
          <ion-button expand="block" (click)="submitForm()">{{'search' | translate}}</ion-button>
        </div>
      </div>
  </ion-card>
  <Calendar [className]="am-calendar" [(ngModel)]="this.createTime.date"
    [enterDirection]="this.createTime.enterDirection" [visible]="this.createTime.show"
    [minDate]="this.createTime.minDate" [maxDate]="this.createTime.maxDate" [pickTime]="this.createTime.pickTime"
    [type]="this.createTime.type" [rowSize]="this.createTime.rowSize" [showShortcut]="this.createTime.showShortcut"
    [infinite]="this.createTime.infinite" [defaultValue]="this.createTime.defaultValue" (onCancel)="createTimeCancel()"
    (onConfirm)="createTimeConfirm($event)"></Calendar>

  <Calendar [className]="am-calendar" [(ngModel)]="this.applyTime.date"
    [enterDirection]="this.applyTime.enterDirection" [visible]="this.applyTime.show"
    [minDate]="this.applyTime.minDate" [maxDate]="this.applyTime.maxDate" [pickTime]="this.applyTime.pickTime"
    [type]="this.applyTime.type" [rowSize]="this.applyTime.rowSize" [showShortcut]="this.applyTime.showShortcut"
    [infinite]="this.applyTime.infinite" [defaultValue]="this.applyTime.defaultValue" (onCancel)="applyTimeCancel()"
    (onConfirm)="applyTimeConfirm($event)"></Calendar>
</ion-content>