<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>訪客預約</ion-title>
</ion-toolbar>

<ion-content>

    <ion-card *ngFor="let data of formData">
      <ion-card-header>
        <ion-card-subtitle>
          申請時間 : {{data.APPLY_DATE}}
          <span class="order-status" [ngClass]="{'approve': data.STATUS =='APPROVED', 'reject': data.STATUS =='REJECT', 'waiting': data.STATUS =='WAITING', 'invaild': data.STATUS =='INVALID'}">{{data.CNSTATUS}}</span>
        </ion-card-subtitle>
        <ion-card-title>{{data.DOCNO}}</ion-card-title>
        
      </ion-card-header>

      <ion-card-content>
        {{data.ACESS_COMPANY_NAME}}
      </ion-card-content>
    </ion-card>


</ion-content>