<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/contact"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>詳情</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="content-container">
    <div class="user-avatar">
      <img src="assets/icon/bts1.jpg">
    </div>
    <ion-card class="user-info">
      <ion-card-header style="text-align: initial;">
        <div style="position: absolute; top: -.6rem;right: 1rem;">
          <div style="display:inline-block;padding: .2rem 1rem; margin-right:.4rem;background: #6FB4FF;border-radius: 10px;">打电话</div>
          <div style="display:inline-block;padding: .2rem 1rem;background: #65C7F7;border-radius: 10px; ">发邮件</div>
        </div>
        <p class="user-name">吴楚滢</p>
        <p class="user-position">助理工程师</p>
        <!-- <p class="user-name">吴楚滢
          <span class="user-call" style="
          float: right;
          font-size: .8rem;
          font-weight: bold;
          padding: .2rem 1rem;
          border-radius: 11px;
          color: #FFF;
          background: #009FFF;">打电话</span>
      </p>
        <p class="user-position">助理工程师
          <span class="user-call" style="
          float: right;
          font-size: .8rem;
          font-weight: bold;
          padding: .2rem 1rem;
          border-radius: 12px;
          color: #FFF;
          background: #0ED2F7;">发邮件</span>
          </p> -->
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-list>
        <ion-item>
          <ion-label>
            <div class="title">英文名&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div>simida.wu</div>
          </ion-label>
        </ion-item>
        <div class="separator">
          <div class="line"></div>
        </div>
        <ion-item>
          <ion-label>
            <div class="title">手机号&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div>137026008022</div>
          </ion-label>
        </ion-item>
        <div class="separator">
          <div class="line"></div>
        </div>
        <ion-item>
          <ion-label>
            <div class="title">分机号&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div>823-1415</div>
          </ion-label>
        </ion-item>
        <div class="separator">
          <div class="line"></div>
        </div>
        <ion-item>
          <ion-label>
            <div class="title">邮箱地址&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div>simida.wu@mic.com.tw</div>
          </ion-label>
        </ion-item>
        <div class="separator">
          <div class="line"></div>
        </div>
        <ion-item>
          <ion-label>
            <div class="title">所属部门&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div>MSL MIS 系統開發處</div>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>