<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end" *ngIf="!isVisitor">
      <ion-button *ngIf="STATUS == 'NEW' || STATUS == 'CANCELED' || STATUS == 'REJECTED'" (click)="delete()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
      <ion-button *ngIf="STATUS !== '' || STATUS !== 'NEW'" (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="applyForm" *ngIf="applyForm" (ngSubmit)="saveForm()">
    <div class="am-list-body">
      <!-- <InputItem [disabled]="true" [value]="'style of disabled InputItem'" [content]="'姓名'"></InputItem> -->
      <!-- 單據編號 -->
      <InputItem formControlName="DOCNO" [editable]="false" [content]="'Visitor.application.orderNo' | translate">
      </InputItem>
      <!-- 單據申請人 -->
      <nz-form-item style="margin:0px;margin-left: 15px;border-bottom: 1px solid #f9f9f9;">
        <nz-form-label style="padding:0;margin-right:5px;display: inline-block;width: 6rem;font-size:17px;color:#000;"
          nzFor="applicant">{{'Visitor.search.applicant' | translate}}</nz-form-label>
        <nz-form-control style="display:inline-block;width:calc(100% - 7rem);float:none;">
          <app-colleague-searcher formControlName="APPLY_NAME"></app-colleague-searcher>
        </nz-form-control>
      </nz-form-item>
      <!-- 申請人分機 -->
      <InputItem formControlName="APPLY_TEL" [content]="'Visitor.application.applyTel' | translate"></InputItem>
      <!-- 申請人電話 -->
      <InputItem formControlName="APPLY_MOBILE" [clear]="true" [type]="'phone'" [error]="error"
        (onChange)="inputChange($event)" [content]="'Visitor.application.applyPhone' | translate"></InputItem>
      <!-- 申請時間 -->
      <InputItem formControlName="CREATION_DATE" [editable]="false"
        [content]="'Visitor.application.applyTime' | translate"></InputItem>
      <!-- 費用部門 -->
      <!-- 還沒有寫 -->
      <List [className]="'date-picker-list'">
        <!-- 進廠時間 -->
        <ListItem DatePicker [extra]="currentDateFormat(value, 'yyyy-mm-dd')" [arrow]="'horizontal'" [mode]="'date'"
          formControlName="START_DATE" (onOk)="onOk($event)">
          {{'Visitor.application.startTime' | translate}}
        </ListItem>
        <!-- 出廠時間 -->
        <ListItem DatePicker [extra]="currentDateFormat(value, 'yyyy-mm-dd')" [arrow]="'horizontal'" [mode]="'date'"
          formControlName="END_DATE" (onOk)="onOk($event)">
          {{'Visitor.application.endTime' | translate}}
        </ListItem>
      </List>
      <!-- 到訪公司 -->
      <InputItem formControlName="ACESS_COMPANY_NAME" [content]="'Visitor.application.visitCompany' | translate">
      </InputItem>
      <!-- 到訪事由 -->
      <InputItem formControlName="ACESS_REASON" [content]="'Visitor.application.visitReason' | translate">
      </InputItem>
      <ion-item>
        <ion-label col-4><span>&nbsp;</span>{{'Visitor.application.specArea' | translate}}</ion-label>
        <ion-select col-8 [cancelText]="'attendance.cancle' | translate" [okText]="'attendance.confirm' | translate"
          formControlName="specArea" multiple="true">
          <ion-select-option *ngFor="let item of specarealist" [value]="item.ID">{{item.AREA_NAME}}</ion-select-option>
        </ion-select>
      </ion-item>
      <List [renderHeader]="renderHeader">
        <!-- <CheckboxItem *ngFor="let i of checkItemListData" [name]="i.name" [value]="i.value" [(ngModel)]="i.checked" (onChange)="onChange($event)" ></CheckboxItem> -->
        <CheckboxItem formControlName="FREE_MEAL" style="border-bottom: 1px solid #fdfdfd;">{{'Visitor.application.isEat' | translate}}</CheckboxItem>
        <CheckboxItem formControlName="NETWORK">{{'Visitor.application.isWifi' | translate}}</CheckboxItem>
      </List>
      <div>
          <InputItem formControlName="OVERSEER_IN" [content]="'Visitor.application.inOverseer' | translate">
          </InputItem>
          <InputItem formControlName="OVERSEER_INTEL" [clear]="true" [type]="'phone'" [error]="error"
          (onChange)="inputChange($event)" [content]="'Visitor.application.inOverseerPhone' | translate"></InputItem>

          <InputItem formControlName="OVERSEER_OUT" [content]="'Visitor.application.outOverseer' | translate">
          </InputItem>
          <InputItem formControlName="OVERSEER_OUTTEL" [clear]="true" [type]="'phone'" [error]="error"
          (onChange)="inputChange($event)" [content]="'Visitor.application.outOverseerPhone' | translate"></InputItem>

          <InputItem formControlName="CHARGE" [content]="'Visitor.application.workHeader' | translate">
          </InputItem>
          <InputItem formControlName="CHARGE_TEL" [clear]="true" [type]="'phone'" [error]="error"
          (onChange)="inputChange($event)" [content]="'Visitor.application.workHeaderPhone' | translate"></InputItem>
      </div>
    </div>
  </form>

</ion-content>