<ion-tabs>
  <ion-tab-bar id="FirstTabBar" slot="bottom">
    <ion-tab-button tab="contact">
      <ion-icon name="call"></ion-icon>
      <ion-label>{{'App.contact' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="application">
      <ion-icon name="apps"></ion-icon>
      <ion-label>{{'App.application' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="me">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{'App.me' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>