ion-card {
    box-shadow: 0 0 0 #fff !important;
    margin: 0 !important;
}

ion-item {
    margin: 1rem 0 !important;
}

ion-avatar ion-img,
ion-avatar img {
    border-radius: 0% !important;
    overflow: hidden;
    width: 36px;
    height: 36px;
}

ion-label p {
    font-size: 0.6rem;
} 

ion-button {
    --background: #fff ;
}

ion-icon {
    color: #333 !important;
}