<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/application"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'Visitor.module.tab_apply' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item lines="none" lines="none" (click)="toOrder('visit')">
      <ion-avatar slot="start">
        <img src="assets/icon/visits.png">
      </ion-avatar>
      <ion-label>
        <h2>{{'Visitor.application.type4' | translate}}</h2>
      </ion-label>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item lines="none" (click)="toOrder('ctm')">
      <ion-avatar slot="start">
        <img src="assets/icon/ctm.png">
      </ion-avatar>
      <ion-label>
        <h2>{{'Visitor.application.type2' | translate}}</h2>
        <p>{{'Visitor.application.applyremark2' | translate}}</p>
      </ion-label>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item lines="none" (click)="toOrder('emp')">
      <ion-avatar slot="start">
        <img src="assets/icon/emp.png">
      </ion-avatar>
      <ion-label>
        <h2>{{'Visitor.application.type3' | translate}}</h2>
        <p>{{'Visitor.application.applyremark3' | translate}}</p>
      </ion-label>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item lines="none" (click)="toOrder('vip')">
      <ion-avatar slot="start">
        <img src="assets/icon/vip.png">
      </ion-avatar>
      <ion-label>
        <h2>{{'Visitor.application.type1' | translate}}</h2>
        <p>{{'Visitor.application.applyremark1' | translate}}</p>
      </ion-label>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item lines="none" (click)="toOrder('build')">
      <ion-avatar slot="start">
        <img src="assets/icon/build.png">
      </ion-avatar>
      <ion-label>
        <h2>{{'Visitor.application.type5' | translate}}</h2>
      </ion-label>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>