<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>单据申请</ion-title>
</ion-toolbar>
<ion-content>
  <ion-card>
    <ion-item lines="none" lines="none" (click)="toOrder('visit')">
      <ion-avatar slot="start">
        <img src="assets/icon/visits.png">
      </ion-avatar>
      <ion-label>
        <h2>访客申请</h2>
      </ion-label>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item lines="none" (click)="toOrder('ctm')">
      <ion-avatar slot="start">
        <img src="assets/icon/ctm.png">
      </ion-avatar>
      <ion-label>
        <h2>客户申请</h2>
        <p>VIP使用对象以外的客户</p>
      </ion-label>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item lines="none" (click)="toOrder('emp')">
      <ion-avatar slot="start">
        <img src="assets/icon/emp.png">
      </ion-avatar>
      <ion-label>
        <h2>集团员工申请</h2>
        <p>集团内部出差或支援人员</p>
      </ion-label>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item lines="none" (click)="toOrder('vip')">
      <ion-avatar slot="start">
        <img src="assets/icon/vip.png">
      </ion-avatar>
      <ion-label>
        <h2>VIP申请</h2>
        <p>副总级(含)以上客户、稽核人员和政府人员</p>
      </ion-label>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item lines="none" (click)="toOrder('build')">
      <ion-avatar slot="start">
        <img src="assets/icon/build.png">
      </ion-avatar>
      <ion-label>
        <h2>施工申请</h2>
      </ion-label>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>