<ion-content>
  <div class="user-box">
    <ion-avatar class="user-avatar">
      <img src="assets/icon/bts1.jpg">
    </ion-avatar>
    <div class="user-infro">
      <div class="user-nickname">吴楚滢</div>
      <div class="user-username">simida.wu</div>
      <span class="user-position">助理工程师</span>
    </div>
  </div>
  <ion-card class="menu-box">
    <ion-card class="card-list">
      <ion-card-content>
        <ion-thumbnail slot="start" class="card-list-icon">
          <ion-img src="assets/icon/scan.png"></ion-img>
        </ion-thumbnail>
        <span>扫一扫</span>
        <ion-img class="card-list-btn" src="assets/icon/next.png"></ion-img>
      </ion-card-content>
    </ion-card>
    <ion-card class="card-list">
      <ion-card-content>
        <ion-thumbnail slot="start" class="card-list-icon">
          <ion-img src="assets/icon/setting.png"></ion-img>
        </ion-thumbnail>
        <span>设置</span>
        <ion-img class="card-list-btn" src="assets/icon/next.png"></ion-img>
      </ion-card-content>
    </ion-card>
  </ion-card>
</ion-content>