<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>{{'Visitor.module.tab_search' | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="apply">
      <ion-icon name="create"></ion-icon>
      <ion-label>{{'Visitor.module.tab_apply' | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{'Visitor.module.tab_home' | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="check">
      <ion-icon name="hand"></ion-icon>
      <ion-label>{{'Visitor.module.tab_check' | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="admin">
      <ion-icon name="filing"></ion-icon>
      <ion-label>{{'Visitor.module.tab_admin' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>