<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>查询</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="apply">
      <ion-icon name="create"></ion-icon>
      <ion-label>申请</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>首页</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="check">
      <ion-icon name="hand"></ion-icon>
      <ion-label>检查</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="setting">
      <ion-icon name="filing"></ion-icon>
      <ion-label>设置</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>