<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/application"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'Visitor.module.tab_admin' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item lines="none" lines="none" (click)="toSettingList('director')">
      <ion-avatar slot="start">
        <img src="assets/icon/director.png">
      </ion-avatar>
      <ion-label>
        <h2>{{'Visitor.admin.director' | translate}}</h2>
      </ion-label>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item lines="none" lines="none" (click)="toSettingList('tool')">
      <ion-avatar slot="start">
        <img src="assets/icon/tool.png">
      </ion-avatar>
      <ion-label>
        <h2>{{'Visitor.admin.tool' | translate}}</h2>
      </ion-label>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>