<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/application"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'Visitor.module.tab_check' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item lines="none" lines="none" (click)="toCheckList('gate')">
      <ion-avatar slot="start">
        <img src="assets/icon/check1.png">
      </ion-avatar>
      <ion-label>
        <h2>{{'Visitor.check.gatelist' | translate}}</h2>
      </ion-label>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item lines="none" lines="none" (click)="toCheckList('gate')">
      <ion-avatar slot="start">
        <img src="assets/icon/check2.png">
      </ion-avatar>
      <ion-label>
        <h2>{{'Visitor.check.floorlist' | translate}}</h2>
      </ion-label>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
  </ion-card>
  <!-- <ion-card (click)="toCheckList('gate')">
    <ion-card-header>
      <span><img src="assets/icon/check1.png"></span>
      <span>{{'visit.check.gatelist' | translate}}</span>
      <span style="float:right;">
        <ion-icon name="arrow-forward"></ion-icon>
      </span>
    </ion-card-header>
  </ion-card>
  <ion-card (click)="toCheckList('floor')">
    <ion-card-header>
      <span><img src="assets/icon/check2.png"></span>
      <span>{{'visit.check.floorlist' | translate}}</span>
      <span style="float:right;">
        <ion-icon name="arrow-forward"></ion-icon>
      </span>
    </ion-card-header>
  </ion-card> -->
</ion-content>