<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/application"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'Visitor.module.tab_check' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item lines="none" lines="none" (click)="toCheckList('gate')">
      <ion-avatar slot="start">
        <img src="assets/icon/check1.png">
      </ion-avatar>
      <ion-label>
        <h2>{{'Visitor.check.gatelist' | translate}}</h2>
      </ion-label>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item lines="none" lines="none" (click)="toCheckList('floor')">
      <ion-avatar slot="start">
        <img src="assets/icon/check2.png">
      </ion-avatar>
      <ion-label>
        <h2>{{'Visitor.check.floorlist' | translate}}</h2>
      </ion-label>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>